#miniTabs {
  margin: 0 ;
  padding: 0 0 20px 10px;
  border-bottom: 1px solid #696;
}
#miniTabs li{
  margin: 0;
  padding: 0;
  display: inline;
  list-Style: none;
}
#miniTabs a {
    float: left;
    line-height: 14px;
    font-weight: bold;
    margin: 0 10px 4px 10px;
    text-decoration: none;
    color: #9c9;
}
#miniTabs a.active, #miniTabs a:hover {
    border-bottom: 4px solid #696;
    padding-bottom: 2px;
    color: #363;
}
#miniTabs a:hover{
   color: #696;
}
h1 {
  font-family: Arial, sans-serif;
  font-size: 24px;
  color: rgba(125,125,255,1.0);  
  padding: 4px;
  background-color: rgba(125,255,125,1.0);
}
h2 {
  font-family: Arial;
  font-size: 20px; 
  color: rgba(255,0,125,1.0);
}
